body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
}
.sub-contents {
    display: flex;
}
@media screen and (max-width: 768px) {
    .sub-contents {
        display: none;
    }
}